@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}

/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9e9e9;
}
